@import 'tools.scss';
@import 'fonts/fonts';
@import 'fonts/font-awesome-custom';
@import './flaticon/flaticon';
body,
html {
  background-color: $bg-color;
  font-family: 'Poppins';
  color: $test-default-color;
}
.flex-countainer {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  div {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 200px;
    margin: 15px;
    justify-content: center;

    h2 {
      user-select: none;
      transform: rotate(15deg);
      opacity: 0.5;
      text-shadow: 0px 1px 5px (rgba(0, 0, 0, 0.9));
    }
  }
}
