@import '../../sass/tools';
body {
  height: 100vh;
}

gridster {
  background-color: transparent;
  gridster-item {
    background-color: $gray-700;

    .item-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      i.bg-icon {
        opacity: 0.2;
        position: absolute;
        z-index: 0;
        vertical-align: center;
        text-align: center;
        font-size: 10vw;
      }
    }
  }
}
